@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
html,
body,
#app {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.input-error {
    font-size: 12px;
    padding-top: 2px;
}

#apikeys>div:not(:last-child) {
    border-bottom: 1px solid rgba(193, 209, 235, 0.1);
}

.currentSideNav {
    background-color: hsl(var(--bc) / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.1;
}