@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
html,
body,
#app {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.input-error {
    font-size: 12px;
    padding-top: 2px;
}

#apikeys>div:not(:last-child) {
    border-bottom: 1px solid rgba(193, 209, 235, 0.1);
}

.router-link-active {
    background-color: hsl(var(--bc) / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.1;
}

.router-link-active:active {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--pc) / var(--tw-text-opacity));
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-unstyled li:before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNSAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMi41MzA4IDQuNDY5NTlDMTIuNjcxNCA0LjYxMDI0IDEyLjc1MDQgNC44MDA5NyAxMi43NTA0IDQuOTk5ODRDMTIuNzUwNCA1LjE5ODcxIDEyLjY3MTQgNS4zODk0NCAxMi41MzA4IDUuNTMwMDlMNi41MzA4IDExLjUzMDFDNi4zOTAxNSAxMS42NzA3IDYuMTk5NDIgMTEuNzQ5NyA2LjAwMDU1IDExLjc0OTdDNS44MDE2OCAxMS43NDk3IDUuNjEwOTUgMTEuNjcwNyA1LjQ3MDMgMTEuNTMwMUwyLjQ3MDMgOC41MzAwOUMyLjMzMzY4IDguMzg4NjQgMi4yNTgwOSA4LjE5OTE5IDIuMjU5NzkgOC4wMDI1NEMyLjI2MTUgNy44MDU4OSAyLjM0MDM4IDcuNjE3NzggMi40Nzk0NCA3LjQ3ODczQzIuNjE4NDkgNy4zMzk2NyAyLjgwNjYgNy4yNjA3OSAzLjAwMzI1IDcuMjU5MDhDMy4xOTk5IDcuMjU3MzggMy4zODkzNSA3LjMzMjk3IDMuNTMwOCA3LjQ2OTU5TDYuMDAwNTUgOS45MzkzNEwxMS40NzAzIDQuNDY5NTlDMTEuNjEwOSA0LjMyODk5IDExLjgwMTcgNC4yNSAxMi4wMDA1IDQuMjVDMTIuMTk5NCA0LjI1IDEyLjM5MDIgNC4zMjg5OSAxMi41MzA4IDQuNDY5NTlaIiBmaWxsPSIjQTBBREJBIi8+Cjwvc3ZnPgo=);
    background-size: 100%;
}

.list-unstyled li {
    padding-left: 20px;
}

.list-unstyled li.highlighted {
    font-weight: 600;
}

.list-unstyled li {
    position: relative;
    margin: 16px 0;
    padding-left: 1.5rem;
}